<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Job Details</title>
    <link 
      href="~/css/styles.css" ref="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
            <div class="card">
                <div class="card-body"> 
                    <h2 class="card-title">@Model.Title</h2>
                     <h3 class="card-description">@Model.Description</h3>
                      <h3 class="card-name">@Model.Name</h3>
                    <h3 class="card-email">@Model.Email</h3>
                    <h3 class="card-phonenumber">@Model.PhoneNumber</h3>  
                    <h3 class="card-background">@Model.Background</h3>
                </div>
            </div>
    </div>
    
    <a href="/">Go home</a>

  </body>
</html>