<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My To-Do List!</title>
    <link 
      href="~/css/styles.css" ref="stylesheet" type="text/css">
  </head>
  <body>
    
@model List<JobBoard.Models.JobOpening>

    <h1>Here is a list of jobs!</h1>
    
    @if ( Model.Count == 0 )
    {
      <p>sorry, there's no jobs</p>
    } else {
    <div class="container">
        @foreach (var job in Model)
        {
          <a href="/job/@job.Id">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">@job.Title</h1>
                    <p class="card-description">@job.Description</p>
                    <p class="card-name">@job.Name</p>
                    <p class="card-email">@job.Email</p>
                    <p class="card-number">@job.Number</p>
                    <p class="card-background">@job.Background</p>
                </div>
            </div>
          </a>
        }
    </div>
    }
    
    <a href="/jobs/new">Create a new job opening</a>

    <form action="/jobs/delete" method="post">
      <button type="submit">Clear All</button>
    </form>
    
    
  </body>
</html>